# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/
classes/
out/

# Gradle.gitignore
.gradle

# Ignore Sonar files
.sonar

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# ignore all build directories
build/

# ignore all WebContent directories
WebContent/debug/

# ignore all files ending with ~
*~

# ignore metadata files
.metadata
.settings
.classpath
.project

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

# ignore production credentials
Track.prod.properties

*.MF
*.DS_Store

*.log

*/.vagrant

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

**/.vagrant/
**/logs/*

# Project data files
.data/
